body {
background-color: #ec8867;
opacity: 0.9;
background-image:  linear-gradient(135deg, #ffab00 25%, transparent 25%), linear-gradient(225deg, #ffab00 25%, transparent 25%), linear-gradient(45deg, #ffab00 25%, transparent 25%), linear-gradient(315deg, #ffab00 25%, #ec8867 25%);
background-position:  9px 0, 9px 0, 0 0, 0 0;
background-size: 9px 9px;
background-repeat: repeat;
}



p {
    font-family: helvetica;
    color: blue;
}



